/* Global */

html, html::before, html::after {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: Verdana, Cambria, serif;
  background-color: black;
  color: white;
}

/* Text Styling */

h1 {
	font-weight: normal;
	font-size: 3.125rem;
}

h2 {
	font-weight: 300;
	font-size: 2.625rem;
}

a {
	color: aquamarine;	
}

p {
	font-size: 21px;
	color: grey;
}

footer > p {
	text-align: right;
}

/* Visual Styling */

img {
	display: block;
	margin: 1.5rem auto;
}

video {
	margin-top: 1.5rem;
}